.about-page {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    padding-bottom: 35px;
}

.about-section {
    margin-bottom: 20px;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
}

.description {
    text-indent:50px;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #131313;
    text-align: left;
    padding: 0 25px;
}

.awards-section {
    margin-top: 40px;
}

.subtitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #131313;
    text-align: center;
}

.awards-list {
    list-style-type: none;
    padding-right: 30px;
    padding-left: 30px;
}

.awards-list li {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #000000;
    background: #b1b1b1;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.2s, background-color 0.3s;
    text-align: center;
}

.awards-list li:hover {
    transform: translateY(-5px);
}

.resume-link {
    text-decoration: none;
    color: #FF3E3E;
}

.resume-link:hover {
    text-decoration: none;
    color: #fe9494;
}