.contact-page {
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.contact-container {
    background-color: #c7c7c7;
    border-radius: 20px;
    padding: 60px 50px; 
    width: 700px; 
    /* box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);  */
    text-align: center;
    background-image: url(/src/assets/images/ellie.png);
    background-size: 150px ;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.contact-container h1 {
    font-size: 2.5em; 
    color: #000000;
    margin-bottom: 40px; 
}

input:focus {
    outline: none;
  }

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.form-input,
.form-textarea {
    width: 95%; 
    padding: 15px; 
    background-color: #f0f0f0;
    border: none;
    border-radius: 15px;
    font-size: 1.2em; 
    color: #555;
    /* box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.15); */
}

.form-textarea {
    height: 7em; 
    resize: none;
}

.form-textarea:focus {
    outline: none;
  }
  
.form-submit {
    background-color: #f5f5f5;
    color: #4a4a4a;
    font-size: 1.2em; 
    border: none;
    border-radius: 15px;
    padding: 15px 35px;
    cursor: pointer;
    margin-top: 30px; 
    /* box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); */
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.form-submit:hover {
    background-color: #e2e2e2;
    transform: scale(1.1);
}

@media (max-width: 500px) {
    .contact-container {
        width: 90%;
        padding: 30px;
    }

    .contact-container h1 {
        font-size: 2em; 
    }

    .form-input,
    .form-textarea {
        width: 100%; 
    }
}