header {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: left;
    align-items: center;
    gap: 30px;
    height: 88vh;
    background-color: #D9D9D9;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    padding-left: 30px;
    padding-right: 30px;
}

header > h1 {
    font-size: clamp(2rem, 5vw, 10vh); 
    flex: 1; 
    overflow-wrap: break-word; 
    white-space: normal; 
    margin: 0; 
}

.avatar {
    vertical-align: middle;
    width: 30%;
    border-radius: 50%;
    background-color: #FF3E3E;
    min-width: 100px; 
    flex-shrink: 0;
}

@media (max-width: 600px) {
    header {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        padding-top: 140px;
    }

    .avatar {
        width: 250px; 
        margin-bottom: 20px; 
    }

    header > h1 {
        font-size: 2rem; 
        text-align: center; 
    }
}