header {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: left;
    align-items: center;
    gap: 30px;
    height: 84vh;
    background-color: #D9D9D9;
    padding-left: 30px;
    padding-right: 30px;
}

header > .avatar {
    vertical-align: middle;
    width: 30%;
    border-radius: 50%;
    background-color: #FF3E3E;
    min-width: 100px;
    flex-shrink: 0;
}

header > .avatar:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

header > .text-container > h1 {
    font-size: clamp(2rem, 5vw, 10vh);
    margin: 0;
}

header > .text-container > p {
    font-size: clamp(1.5rem, 2vw, 3vh);
    margin: 0;
}

.avatar {
    vertical-align: middle;
    width: 30%;
    border-radius: 50%;
    background-color: #FF3E3E;
    min-width: 100px; 
    flex-shrink: 0;
}

@media (max-width: 600px) {

    header {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }

    header > .avatar {
        width: 70% ; 
        margin-bottom: 20px; 
    }

    header > .text-container > h1 {
        font-size: 2rem; 
        text-align: center !important; 
    }
    header > .text-container > p {
        font-size: 1rem; 
        text-align: center !important; 
    }
}
